p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
h2 {
  font-size: 64px;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
}

:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero a {
  transition: all 100ms ease-in-out;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 100px;
  color: black;
}
.hero h2 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  color: #272142;
}
.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  transition: all 100ms ease-in-out;
}
.img-background {
  padding: 60px 60px;
  background: var(--secondary-color);
}
.project-description {
  padding: 110px 60px;
}
.btn-branding-outlook {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
  transition: all 100ms ease-in-out;
}
.btn-branding-outlook:hover {
  color: var(--branding-color);
  font-weight: bold;
  transition: all 100ms ease-in-out;
}
.project-description-area {
  padding: 30px 60px;
}
.project-description-projects {
  padding: 130px 60px;
}

.content-container {
  padding: 130px 60px;
}

.content-container h1 {
  text-align: right;
  font-size: 70px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.content-container h2 {
  text-align: right;
  font-size: 60px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.content-container .content {
  text-align: right;
  font-size: 30px;
  font-style: italic;
  font-family: var(--default-font-family);
}
.content {
  padding-bottom: 120px;
}
.circular-square-alys,
.circular-square-rosemary,
.circular-square-watersound {
  border-radius: 50%;
  border: 1px solid black;
  height: 100;
}
.circular-square-rosemary {
  margin-top: 85px;
}
.list-of-cities p {
  line-height: 0.5;
  font-family: var(--default-font-family);
  font-size: 16px;
}
.head-materials {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 70px 20px;
}
.head-materialss {
  padding-top: 20px;
  font-weight: bold;
}
.brands-head {
  margin-top: 150px;
}
.brands-position {
  text-align: center;
}
.brands-logo {
  max-width: 250px;
  margin: 0 auto;
  padding: 60px;
}
.content-work-container {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 120px 20px;
}
.content-work-container h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 100px;
  color: black;
}
.content-work-container h4 {
  font-family: var(--heading-font-family);
  font-size: 30px;
  color: black;
}
.comment-content-container {
  text-align: center;
  font-size: 60px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
nav {
  padding: 20px 0 0 0;
}
nav p {
  font-weight: bold;
  font-size: 18px;
}
nav li {
  list-style: none;
  display: inline;
  padding-left: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--branding-color);
}
footer {
  margin: 40px 0 40px 0;
}
footer .emaill-link a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .emaill-link a:hover {
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}
footer .social-links a {
  color: var(--branding-color);
  font-size: 18px;
  background: var(--secondary-color);
  padding: 10px 14px;
  margin: 0 20px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}
@media (max-width: 991px) {
  .hero h1 {
    text-align: center;
    font-size: 45px;
  }
  h2 {
    font-size: 44px;
  }
  h3,
  .list-of-cities {
    text-align: center;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description-projects {
    padding: 0;
    text-align: center;
  }
  .project-description-area {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .content-work-container h1 {
    font-size: 60px;
  }
  .content-container h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .content-container .content {
    font-size: 25px;
  }
}
